* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    background-color: #E7E7E7;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-size: 20px;
}

.container {
    padding: 0px;
}

.simple-row {
    margin-right: -15px;
    margin-left: -15px;
}

header .navbar {
    border-radius: 0px;
    border: none;
}

header .navbar-nav {
    margin: 0px;
}

header .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FFFFFF;
}

header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, header .navbar-default .navbar-nav .open .dropdown-menu>li.active>a {
    color: #000000;
    background-color: #FFFFFF;
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding: 0 15px;
    background-color: #FFFFFF;
}

.content-col>h2:first-child {
    margin-top: 0px;
}

h1, h2 {
    font-weight: 700;
}

h1 a, h1 a:hover {
    text-decoration: none;
}

blockquote p {
    font-size: 20px;
    font-style: italic;
}

header {
    margin-bottom: 50px;
}

header .navbar {
    background-color: #000000;
    margin: 0px;
    padding: 0;
}

header .navbar .navbar-nav>li.active>a, header .navbar .navbar-nav>li>a:hover, header .navbar .navbar-nav>li>a:focus, header .navbar .navbar-nav>li.active>a:hover, header .navbar .navbar-nav>li.active>a:focus, header .navbar-default .navbar-nav>.open>a, header .navbar-default .navbar-nav>.open>a:hover, header .navbar-default .navbar-nav>.open>a:focus{
    background-color: #FFFFFF;
    color: #000000;
}

header .navbar .navbar-nav>li>a{
    color: #FFFFFF;
}

.header-break {
    background-color: grey;
    height: 300px;
}

.header-title {
    padding: 10px 30px 20px;
    color: #337AB7;
}

.carousel .item {
    background-color: gray;
    height: 431px;
    overflow: hidden;
}

.carousel .item:first-child img, .carousel .item:nth-child(2) img {
    height: 431px;
    max-width: 1500px;
    margin-left: -113px;
}

.carousel .item:nth-child(3) img {
    height: 431px;
    max-width: 1500px;
    margin-left: -70px;
}

.carousel .item:last-child img {
    height: 431px;
    max-width: 2500px;
    margin-left: -450px;
}

.carousel .item img {
    margin: 0 auto;
    
}

@media (min-width: 768px) {
    header .navbar {
        padding: 0 40px;
    }

    header .navbar li{
        border-right: 1px solid #FFFFFF;
    }

    header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #000000;
    }

    header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, header .navbar-default .navbar-nav .open .dropdown-menu>li.active>a{
        background-color: #E2E2E2;
    }
}
