* {
    margin: 0;
}
html, body {
    height: 100%;
}
.main-container {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.content {
	
}
footer {
	height: 155px;
	color:  red;
}


div {
	/*border: 1px solid red !important;*/
}