/* global */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	font-size: 20px;
}

.simple-row {
    margin-right: -15px;
    margin-left: -15px;
}

/* header */
header {
	text-align: center;
	background-color: #e7e7e7;
	color: #777777;
}

header .navbar {
    border-radius: 0px;
}

/* menu column */
.menu-col {
	margin-left: 0px;
    margin-right: 0px;
	padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

.menu-col li a{
    color: #337ab7;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
}

.menu-col ul li a:hover, .menu-col ul li a:focus, .menu-col li.dropdown.open a:focus, .menu-col li.dropdown.open>a, .menu-col li.active a, .menu-col li.active a:hover{
    color: #23527c;
    background-color: white;
    border-radius: 0px;
}

/* content column */
.content-col {
	margin-right: 0px;
	padding-right: 0px;
    padding-top: 20px;
}

h1 a, h1 a:hover {
    text-decoration: none;
    color: white;
}
